<img style="float: left;;" src='Figures/alinco.png' /></a>
    
# <center> <font color= #000047> Actividad 2: librería Pandas.</font>
___

### Utilizando el archivo [titanic.csv], realice lo que se le pide:


**1. Generar un DataFrame con los datos del fichero.**

**2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.**

In [1]:
# código aquí
import pandas as pd

df = pd.read_csv("titanic.csv") 
print("Dimensiones del DataFrame:", df.shape)
print("Número total de datos:", df.size)
print("Nombres de columnas:", df.columns.tolist())
print("Cantidad de filas (índices):", len(df.index))
print("\nTipos de datos de las columnas:")
print(df.dtypes)
print("\nPrimeras 10 filas del DataFrame:")
print(df.head(10))
print("\nÚltimas 10 filas del DataFrame:")
print(df.tail(10))

Dimensiones del DataFrame: (891, 12)
Número total de datos: 10692
Nombres de columnas: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Cantidad de filas (índices): 891

Tipos de datos de las columnas:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Primeras 10 filas del DataFrame:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

Últimas 10 filas del DataFrame:
     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

**3. Mostrar por pantalla los datos del pasajero con identificador 148.**

In [2]:
import pandas as pd

df = pd.read_csv("titanic.csv")
pasajero_148 = df[df["PassengerId"] == 148]
print("Datos del pasajero con PassengerId = 148:")
print(pasajero_148)

Datos del pasajero con PassengerId = 148:
     PassengerId  Survived  Pclass                              Name     Sex  \
147          148         0       3  Ford, Miss. Robina Maggie "Ruby"  female

     Age  SibSp  Parch      Ticket    Fare Cabin Embarked
147  9.0      2      2  W./C. 6608  34.375   NaN        S

**4. Mostrar por pantalla las filas pares del DataFrame.**

In [3]:
import pandas as pd

df = pd.read_csv("titanic.csv")  # Asegúrate de que el archivo esté en la misma carpeta
filas_pares = df.iloc[::2]  # Selecciona cada 2 filas comenzando en 0 (índices pares)
print("Filas pares del DataFrame:")
print(filas_pares)

Filas pares del DataFrame:
     PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]

**5. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.**

In [4]:
# código aquí
import pandas as pd

df = pd.read_csv("titanic.csv")
primera_clase = df[df["Pclass"] == 1]
nombres_ordenados = primera_clase["Name"].sort_values()
print("Nombres de las personas en primera clase ordenados alfabéticamente:")
print(nombres_ordenados.to_string(index=False))

Nombres de las personas en primera clase ordenados alfabéticamente:
                     Allen, Miss. Elisabeth Walton
                    Allison, Master. Hudson Trevor
                      Allison, Miss. Helen Loraine
   Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                               Anderson, Mr. Harry
                 Andrews, Miss. Kornelia Theodosia
                            Andrews, Mr. Thomas Jr
     Appleton, Mrs. Edward Dale (Charlotte Lamson)
                           Artagaveytia, Mr. Ramon
 Astor, Mrs. John Jacob (Madeleine Talmadge Force)
                     Aubart, Mme. Leontine Pauline
                      Barber, Miss. Ellen "Nellie"
              Barkworth, Mr. Algernon Henry Wilson
                               Baumann, Mr. John D
                          Baxter, Mr. Quigg Edmond
   Baxter, Mrs. James (Helene DeLaudeniere Chaput)
                             Bazzani, Miss. Albina
                     Beckwith, Mr. Richard Leonard
  Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
                             Behr, Mr. Karl Howell
                             Bidois, Miss. Rosalie
                           Bishop, Mr. Dickinson H
           Bishop, Mrs. Dickinson H (Helen Walton)
                            Bissette, Miss. Amelia
         Bjornstrom-Steffansson, Mr. Mauritz Hakan
                      Blackwell, Mr. Stephen Weart
                                  Blank, Mr. Henry
                          Bonnell, Miss. Elizabeth
                       Bowerman, Miss. Elsie Edith
     Bradley, Mr. George ("George Arthur Brayton")
                         Brewe, Dr. Arthur Jackson
         Brown, Mrs. James Joseph (Margaret Tobin)
                   Burns, Miss. Elizabeth Margaret
                 Butt, Major. Archibald Willingham
                             Cairns, Mr. Alexander
                 Calderhead, Mr. Edward Pennington
                Cardeza, Mr. Thomas Drake Martinez
                          Carlsson, Mr. Frans Olof
                           Carrau, Mr. Francisco M
               Carter, Master. William Thornton II
                         Carter, Miss. Lucile Polk
                        Carter, Mr. William Ernest
         Carter, Mrs. William Ernest (Lucile Polk)
                     Cavendish, Mr. Tyrell William
                       Chaffee, Mr. Herbert Fuller
                     Chambers, Mr. Norman Campbell
    Chambers, Mrs. Norman Campbell (Bertha Griggs)
                              Cherry, Miss. Gladys
            Chibnall, Mrs. (Edith Martha Bowerman)
                              Cleaver, Miss. Alice
                       Clifford, Mr. George Quincy
                        Colley, Mr. Edward Pomeroy
                       Compton, Miss. Sara Rebecca
                      Crosby, Capt. Edward Gifford
                           Crosby, Miss. Harriet R
Cumings, Mrs. John Bradley (Florence Briggs Tha...
                            Daly, Mr. Peter Denis
                       Daniel, Mr. Robert Williams
                            Davidson, Mr. Thornton
                           Dick, Mr. Albert Adrian
         Dick, Mrs. Albert Adrian (Vera Gillespie)
                         Dodge, Master. Washington
                        Douglas, Mr. Walter Donald
Duff Gordon, Lady. (Lucille Christiana Sutherla...
      Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
                     Endres, Miss. Caroline Louise
                    Eustis, Miss. Elizabeth Mussey
                                Farthing, Mr. John
                           Fleming, Miss. Margaret
                  Flynn, Mr. John Irwin ("Irving")
                   Foreman, Mr. Benjamin Laventall
                    Fortune, Miss. Alice Elizabeth
                        Fortune, Miss. Mabel Helen
                    Fortune, Mr. Charles Alexander
                                 Fortune, Mr. Mark
                    Francatelli, Miss. Laura Mabel
                     Frauenthal, Dr. Henry William
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
                Frolicher, Miss. Hedwig Margaritha
                  Frolicher-Stehli, Mr. Maxmillian
                                  Fry, Mr. Richard
                       Futrelle, Mr. Jacques Heath
      Futrelle, Mrs. Jacques Heath (Lily May Peel)
                                 Gee, Mr. Arthur H
                                Giglio, Mr. Victor
                          Goldenberg, Mr. Samuel L
      Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
                         Goldschmidt, Mr. George B
                      Graham, Miss. Margaret Edith
                         Graham, Mr. George Edward
     Graham, Mrs. William Thompson (Edith Junkins)
                   Greenfield, Mr. William Bertram
                          Guggenheim, Mr. Benjamin
                       Harder, Mr. George Achilles
                         Harper, Mr. Henry Sleeper
          Harper, Mrs. Henry Sleeper (Myna Haxtun)
                         Harrington, Mr. Charles H
                       Harris, Mr. Henry Birkhardt
      Harris, Mrs. Henry Birkhardt (Irene Wallach)
                             Harrison, Mr. William
                                Hassab, Mr. Hammad
                       Hawksford, Mr. Walter James
                    Hays, Miss. Margaret Bechstein
Hays, Mrs. Charles Melville (Clara Jennings Gregg)
                      Hippach, Miss. Jean Gertrude
   Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
              Hogeboom, Mrs. John C (Anna Andrews)
                    Holverson, Mr. Alexander Oskar
Holverson, Mrs. Alexander Oskar (Mary Aline Tow...
                   Homer, Mr. Harry ("Mr E Haven")
                      Hoyt, Mr. Frederick Maxfield
                          Hoyt, Mr. William Fisher
   Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
                               Icard, Miss. Amelie
                        Isham, Miss. Ann Elizabeth
                           Kent, Mr. Edward Austin
                 Kenyon, Mrs. Frederick R (Marion)
                      Kimball, Mr. Edwin Nelson Jr
                                Klaber, Mr. Herman
                               LeRoy, Miss. Bertha
                       Leader, Dr. Alice (Farnham)
                            Lesurer, Mr. Gustave J
                                 Lewy, Mr. Ervin G
                         Lines, Miss. Mary Conover
                            Long, Mr. Milton Clyde
                     Longley, Miss. Gretchen Fiske
                              Lurette, Miss. Elise
                 Madill, Miss. Georgette Alexandra
                             Maioni, Miss. Roberta
                              Marechal, Mr. Pierre
                         Marvin, Mr. Daniel Warner
  Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
                           McCarthy, Mr. Timothy J
                         McGough, Mr. James Robert
                           Meyer, Mr. Edgar Joseph
             Meyer, Mrs. Edgar Joseph (Leila Saks)
                         Millet, Mr. Francis Davis
                       Minahan, Dr. William Edward
                            Minahan, Miss. Daisy E
                        Molson, Mr. Harry Markland
                             Natsch, Mr. Charles H
                           Newell, Miss. Madeleine
                            Newell, Miss. Marjorie
                        Newell, Mr. Arthur Webster
                      Newsom, Miss. Helen Monypeny
                      Nicholson, Mr. Arthur Ernest
                    Ostby, Mr. Engelhart Cornelius
                     Parr, Mr. William Henry Marsh
                               Partner, Mr. Austen
                         Pears, Mr. Thomas Clinton
                 Pears, Mrs. Thomas (Edith Wearne)
        Penasco y Castellana, Mr. Victor de Satode
Penasco y Castellana, Mrs. Victor de Satode (Ma...
                             Perreault, Miss. Anne
                    Peuchen, Major. Arthur Godfrey
                    Porter, Mr. Walter Chamberlain
     Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
                   Reuchlin, Jonkheer. John George
                               Ringhini, Mr. Sante
                               Robbins, Mr. Victor
Robert, Mrs. Edward Scott (Elisabeth Walton McM...
              Roebling, Mr. Washington Augustus II
     Romaine, Mr. Charles Hallace ("Mr C Rolmane")
                             Rood, Mr. Hugh Roscoe
                               Ross, Mr. John Hugo
Rothes, the Countess. of (Lucy Noel Martha Dyer...
    Rothschild, Mrs. Martin (Elizabeth L. Barrett)
                        Ryerson, Miss. Emily Borie
             Ryerson, Miss. Susan Parker "Suzette"
                             Saalfeld, Mr. Adolphe
                              Sagesser, Mlle. Emma
                           Serepeca, Miss. Augusta
                       Seward, Mr. Frederic Kimber
                         Shutes, Miss. Elizabeth W
                  Silverthorne, Mr. Spencer Victor
                         Silvey, Mr. William Baird
         Silvey, Mrs. William Baird (Alice Munger)
               Simonius-Blumer, Col. Oberst Alfons
                      Sloper, Mr. William Thompson
                        Smart, Mr. John Montgomery
                           Smith, Mr. James Clinch
                        Smith, Mr. Richard William
Spedden, Mrs. Frederic Oakley (Margaretta Corni...
    Spencer, Mrs. William Augustus (Marie Eugenie)
                         Stahelin-Maeglin, Dr. Max
                         Stead, Mr. William Thomas
   Stephenson, Mrs. Walter Bertram (Martha Eustis)
                             Stewart, Mr. Albert A
         Stone, Mrs. George Nelson (Martha Evelyn)
                             Sutton, Mr. Frederick
Swift, Mrs. Frederick Joel (Margaret Welles Bar...
                               Taussig, Miss. Ruth
                                 Taussig, Mr. Emil
            Taussig, Mrs. Emil (Tillie Mandelbaum)
                          Taylor, Mr. Elmer Zebley
 Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
                          Thayer, Mr. John Borland
                       Thayer, Mr. John Borland Jr
Thayer, Mrs. John Borland (Marian Longstreth Mo...
                    Thorne, Mrs. Gertrude Maybelle
                          Uruchurtu, Don. Manuel E
                         Van der hoef, Mr. Wyckoff
                      Walker, Mr. William Anderson
                                  Ward, Miss. Anna
  Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
                                   Weir, Col. John
                       White, Mr. Percival Wayland
                         White, Mr. Richard Frasar
                          Wick, Miss. Mary Natalie
        Wick, Mrs. George Dennick (Mary Hitchcock)
                         Widener, Mr. Harry Elkins
                       Williams, Mr. Charles Duane
            Williams-Lambert, Mr. Fletcher Fellows
                                 Woolner, Mr. Hugh
                                Wright, Mr. George
                          Young, Miss. Marie Grice

**6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.**

In [5]:
import pandas as pd

df = pd.read_csv("titanic.csv")
total_pasajeros = len(df)
sobrevivientes = df["Survived"].sum()
muertos = total_pasajeros - sobrevivientes

porcentaje_sobrevivieron = (sobrevivientes / total_pasajeros) * 100
porcentaje_murieron = (muertos / total_pasajeros) * 100

print(f"Porcentaje de personas que sobrevivieron: {porcentaje_sobrevivieron:.2f}%")
print(f"Porcentaje de personas que murieron: {porcentaje_murieron:.2f}%")

Porcentaje de personas que sobrevivieron: 38.38%
Porcentaje de personas que murieron: 61.62%

**7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.**

In [6]:
import pandas as pd

df = pd.read_csv("titanic.csv")
porcentaje_por_clase = df.groupby("Pclass")["Survived"].mean() * 100

print("Porcentaje de personas que sobrevivieron en cada clase:")
for clase, porcentaje in porcentaje_por_clase.items():
    print(f"Clase {clase}: {porcentaje:.2f}%")

Porcentaje de personas que sobrevivieron en cada clase:
Clase 1: 62.96%
Clase 2: 47.28%
Clase 3: 24.24%

**8. Eliminar del DataFrame los pasajeros con edad desconocida.**

In [7]:
import pandas as pd

df = pd.read_csv("titanic.csv") 
df_sin_edad_desconocida = df.dropna(subset=["Age"])

print(f"Filas originales: {len(df)}")
print(f"Filas después de eliminar edades desconocidas: {len(df_sin_edad_desconocida)}")
print("\nPrimeras filas después de la limpieza:")
print(df_sin_edad_desconocida.head())

Filas originales: 891
Filas después de eliminar edades desconocidas: 714

Primeras filas después de la limpieza:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

**9. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.**

In [8]:
import pandas as pd


df = pd.read_csv("titanic.csv") 

mujeres = df[df["Sex"] == "female"]
edad_media_por_clase = mujeres.groupby("Pclass")["Age"].mean()

print("Edad media de las mujeres en cada clase:")
for clase, edad_media in edad_media_por_clase.items():
    print(f"Clase {clase}: {edad_media:.2f} años")

Edad media de las mujeres en cada clase:
Clase 1: 34.61 años
Clase 2: 28.72 años
Clase 3: 21.75 años

**10.  Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.**

In [9]:
import pandas as pd

df = pd.read_csv("titanic.csv") 
df["MenorDeEdad"] = df["Age"] < 18

print(df.head(15))

    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
11           12         1       1
12           13         0       3
13           14         0       3
14           15         0       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0
12                     Saundercock, Mr. William Henry    male  20.0      0
13                        Andersson, Mr. Anders Johan    male  39.0      1
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0

    Parch            Ticket     Fare Cabin Embarked  MenorDeEdad
0       0         A/5 21171   7.2500   NaN        S        False
1       0          PC 17599  71.2833   C85        C        False
2       0  STON/O2. 3101282   7.9250   NaN        S        False
3       0            113803  53.1000  C123        S        False
4       0            373450   8.0500   NaN        S        False
5       0            330877   8.4583   NaN        Q        False
6       0             17463  51.8625   E46        S        False
7       1            349909  21.0750   NaN        S         True
8       2            347742  11.1333   NaN        S        False
9       0            237736  30.0708   NaN        C         True
10      1           PP 9549  16.7000    G6        S         True
11      0            113783  26.5500  C103        S        False
12      0         A/5. 2151   8.0500   NaN        S        False
13      5            347082  31.2750   NaN        S        False
14      0            350406   7.8542   NaN        S         True

**11.  Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.**

In [10]:
import pandas as pd

df = pd.read_csv("titanic.csv") 
df['IsMinor'] = df['Age'] < 18
grouped = df.groupby(['Pclass', 'IsMinor'])

percentage_survived = grouped['Survived'].mean() * 100


for (pclass, is_minor), pct in percentage_survived.items():
    age_group = "Menor de edad" if is_minor else "Mayor de edad"
    print(f"Clase {pclass} - {age_group}: {pct:.2f}% sobrevivieron")

Clase 1 - Mayor de edad: 61.27% sobrevivieron
Clase 1 - Menor de edad: 91.67% sobrevivieron
Clase 2 - Mayor de edad: 40.99% sobrevivieron
Clase 2 - Menor de edad: 91.30% sobrevivieron
Clase 3 - Mayor de edad: 21.79% sobrevivieron
Clase 3 - Menor de edad: 37.18% sobrevivieron

**11.  Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.**

In [12]:
import pandas as pd

df = pd.read_csv("titanic.csv")
df_clean = df.dropna(subset=['Age']).copy()
df_clean['IsMinor'] = df_clean['Age'] < 18

grouped = df_clean.groupby(['Pclass', 'IsMinor'])
percentage_survived = grouped['Survived'].mean() * 100

for (pclass, is_minor), pct in percentage_survived.items():
    age_group = "Menor de edad" if is_minor else "Mayor de edad"
    print(f"Clase {pclass} - {age_group}: {pct:.2f}% sobrevivieron")

Clase 1 - Mayor de edad: 63.79% sobrevivieron
Clase 1 - Menor de edad: 91.67% sobrevivieron
Clase 2 - Mayor de edad: 41.33% sobrevivieron
Clase 2 - Menor de edad: 91.30% sobrevivieron
Clase 3 - Mayor de edad: 20.22% sobrevivieron
Clase 3 - Menor de edad: 37.18% sobrevivieron